<% @page_title = "勤務時間帯境界モードの詳細" %>

<h1><%= @page_title %></h1>

<p><%= link_to "勤務時間帯境界モード一覧に戻る", :admin_splittimes %></p>

<p><%= link_to "編集", [:edit, :admin, @splittime] %></p>

<%= render "admin/splittimes/body" %>
