<table class="attr">
  <tr>
    <th width="150">業務項目名称</th>
    <td><%= @jobitem.jobname %></td>
  </tr>
  <tr>
    <th width="150">業務区分名称</th>
    <td><%= @jobitem.jobgroup.jgname %></td>
  </tr>
</table>
