<table class="attr">
  <tr>
    <th width="150">プロジェクト名称</th>
    <td><%= @project.prjname %></td>
  </tr>
  <tr>
    <th width="150">顧客名称</th>
    <td><%= @project.client.clientname %></td>
  </tr>
  <tr>
    <th width="150">勤務時間帯モード</th>
    <td><%= @project.splittime.timesplitmode %></td>
  </tr>
</table>
