<table class="attr">
  <tr>
    <th width="150">職能作業名称</th>
    <td><%= @grade.gradename %></td>
  </tr>
  <tr>
    <th>給与時間単価（円／時間）</th>
    <td><%= @grade.unitpayment %></td>
  </tr>
  <tr>
    <th>請求時間単価（円／時間）</th>
    <td><%= @grade.unitdemand %></td>
  </tr>
  <tr>
    <th>休日割増率</th>
    <td><%= @grade.holidayschg %></td>
  </tr>
</table>
